<section class="">
  <div class="header-container">
    <!-- <div class="web-head">
      <img class="web-logo" src="/images/logo.png" alt="logo" width="50" />
      <h1 class="web-title">A Randon Cocktail</h1>
    </div> -->
    <h1 class="web-title">A Randon Cocktail</h1>
    <p>“Where every drink is a surprise.”</p>
  </div>
  <%- include("nav")%>
</section>
