<section class="container">
  <div class="header-container">
    <img src="/images/logo.png" alt="logo" width="50" />
    <h1>A Randon Cocktail</h1>
    <p>“Where every drink is a surprise.”</p>
  </div>
  <%- include("nav")%>
</section>
